In [1]:
import pandas as pd # type: ignore

Viejas

In [2]:
estaciones_viejas_ruta = '../info_wunder.xlsx'
estaciones_viejas = pd.read_excel(estaciones_viejas_ruta,sheet_name='estaciones')

In [3]:
estaciones_viejas_id = estaciones_viejas['stationID']
estaciones_viejas_id

0       ICASER42
1        IJUNDD2
2      IROSAR110
3       IROSAR98
4        ISANNI7
         ...
138     IDEPAR62
139      IJUNND3
140      IJUNND5
141     ISANJA13
142    ISANJAVI8
Name: stationID, Length: 143, dtype: object

Nuevas

In [4]:
estaciones_encontradas_ruta = './estaciones_encontradas_poligono_irregular.csv'
estaciones_encontradas = pd.read_csv(estaciones_encontradas_ruta)

In [5]:
estaciones_encontradas['esNueva'] = False
estaciones_encontradas

     stationID       lat       lon  esNueva
0    ICRDOBAM4 -31.73040 -65.01430    False
1     IDEPAR59 -31.82436 -64.97172    False
2     IDEPAR58 -31.82434 -64.97166    False
3     IDEPAR62 -31.82446 -64.97164    False
4     IDEPAR60 -31.82498 -64.97146    False
..         ...       ...       ...      ...
509    ISANNI7 -33.33976 -60.21611    False
510   ISANNI45 -33.33968 -60.21601    False
511    ISANNI2 -33.33860 -60.21414    False
512   ISANNI51 -33.33651 -60.21306    False
513   ISANNI27 -33.33618 -60.20759    False

[514 rows x 4 columns]

In [6]:
for idx,estacion in estaciones_encontradas.iterrows():
    id_encontrada = estacion.loc['stationID']
    if id_encontrada not in estaciones_viejas['stationID'].values:
        estaciones_encontradas.loc[idx,'esNueva'] = True

In [7]:
estaciones_encontradas_nuevas = estaciones_encontradas[estaciones_encontradas['esNueva']]
estaciones_encontradas_nuevas.drop('esNueva',axis=1).to_csv('./nuevas_estaciones.csv',index=False)